*,::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0 100px;
    background-color: #ffeae0;
}


/* =====MENU===== */
.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.nav.logo h1{
    font-weight: 600;
    font-family: sans-serif;
    color: black;
}

.nav .logo b{
    color: #ff511c;
}

.nav ul{
    display: flex;
    list-style: none;
}

.nav ul li{
    margin-right: 30px;
}

.nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-family: sans-serif;
    font-size: 17px;
}

/* ===== ACTIVE ===== */

.nav ul .active::after{
    content: '';
    width: 50%;
    height: 3px;
    background-color: #ff511c;
    display: flex;
    position: relative;
    margin-left: 10px;

} 

input{
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 600;
}

.signin{
    background-color: transparent;
    border: none;
}

.signup{
    background-color: #ff511c;
    color: #ffffff;
    outline: none;
    border: none;
    border-radius: 5px;
}


/* =====CONTENT===== */

.content{
    display: grid;
    grid-template-columns: 50% auto;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

/* #content TEXT */
/* =====LEFT-SIDE===== */

.content .content-left{
    display: block;
    width: 100%;
}

.content .content-left .info{
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.content .content-left .info h2{
    font-size: 60px;
    font-family: sans-serif;
    margin-bottom: 30px;
    margin-top: 90px;
}

.content .content-left .info p{
    font-size: 20px;
    line-height: 2pc;
    margin-bottom: 30px;
    font-family: sans-serif;
}


/* #content */
/* =====BUTTON===== */

.content .content-left button{
    padding: 10px 23px;
    background-color: #ff511c;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}


/* #content IMAGE */
/* =====RIGHT-SIDE===== */

.content .content-right{
    display: block;
    width: 100%;
    margin-top: 80px;
}

.content .content-right img{
    width: 400px;
    height: auto;
    position: relative;
    user-select: none;
    animation: rotate 10s linear infinite;
}



/* #content */
/* =====ANIMATION===== */

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}


/* =====ABOUT US===== */
.about{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 1.5rem;
    align-items: center;
}
.about-img img{
    max-width: 100%;
    width: 480px;
    height: auto;
    float: left;
}
.about-text span{
    color: #ff511c;
    font-weight: 1rem;
    font-size: 1rem;
}
.about-text h2{
    font-size: 2rem
}
.about-text p{
    margin: 0.8rem 0 1.8rem;
    line-height: 1.7;
    position: relative;
    margin-bottom: 11rem;
}
/* =====MENU===== */
.heading{
    text-align: center;
}
.heading span{
    color: #ff511c;
    font-weight: 600;
    font-size: 1rem;
}
.heading h2{
    font-size: 2.5rem;
}
.menu-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    grid-gap: 1.5rem;
    align-items: center;
}
.box{
    position: relative;
    margin-top: 4rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    padding: 20px;
    border-radius: 0.5rem;
}
.box-img{
    width: 220px;
    height: 220px;
}
.box-img img{
    width: 100%;
    height: 100%;
}
.box h2{
    font-size: 1.3rem;
    color: var(--bg-color);
}
.box h3{
    color: var(--bg-color);
    font-size: 1rem;
    font-weight: 400;
    margin: 4px 0 10px;
}
.box span{
    font-size: var(--p-font);
    color: var(--main-color);
    font-weight: 600;
}

/* =====SERVICES===== */

.service-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    grid-gap: 1.5rem;
    margin-top: 4rem;
}
.s-box{
    text-align: center;
    padding: 20px 30px;
}
.s-box img{
    width: 90px;
}
.s-box h3{
    margin: 4px 0 10px;
    color: var(--main-color);
    font-size: 1.5rem;
}
.cta{
    background: #ff511c;
    padding: 70px 0;
    text-align: center;
    width: 66%;
    margin: 100px auto;
    border-radius: 10px;
}
.cta h2{
    font-size: 2rem;
    color: var(--bg-color);
    margin-bottom: 30px; 
}
/* ===== scroll-bar===== */

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background-color: #ff511c;
}